In [10]:
class Solution:
    def searchInsert(self, nums, target):
        """
        :type nums: List[int]
        :type target: int
        :rtype: int
        """
        left = 0
        right = len(nums)
        while left < right:
            index = int((left+right)/2)
            if target == nums[index]:
                return index
            if target > nums[index]:
                left = index+1
            else:
                right = index
            print(left,index,right)
        return int((left+right)/2)

In [44]:
nums = [1,3,5,6]
target = 2
Solution().searchInsert(nums, target)

0 2 2
0 1 1
1 0 1

1

In [45]:
import pandas as pd
d = {'date': [1, 1, 1, 2,2], 'sess':[1,2,3,4,5],'user': ['a','a','b', 'c','c']}
df = pd.DataFrame(data = d)

In [46]:
df

   date  sess user
0     1     1    a
1     1     2    a
2     1     3    b
3     2     4    c
4     2     5    c

In [49]:
df.groupby('date')['user'].count()/df.groupby('date')['user'].nunique()

date
1    1.5
2    2.0
Name: user, dtype: float64

In [52]:
df.groupby('date').count().sort_values(by='user')

      sess  user
date
2        2     2
1        3     3

In [65]:
df.pivot_table(values = "sess",index = "date", columns = "user",aggfunc ='count')

user    a    b    c
date
1     2.0  1.0  NaN
2     NaN  NaN  2.0